@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Lora|Raleway");
@import url("https://fonts.googleapis.com/css?family=Italianno|Lusitana|Six+Caps|Varela+Round|ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.saas {
  position: absolute;
  bottom: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #f3f0f1, #d6d3d2);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 1.1em;
  color: rgb(27, 4, 4);
}

header {
  background: white;
}

.my-title {
  text-align: center;
  margin: 70px 0;
}

.my-title p {
  font-weight: 50;
}

.my-title h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: var(--Sniglet-font);
  color: #222;
  line-height: 1.2em !important;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  background-color: rgb(249, 249, 254);
}
.profile-col-0 {
  flex-basis: 3%;
  position: relative;
  margin-left: 0px;
}

.social-icons {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 80px;
}

.social-icons ul {
  padding: initial;
}

.social-icons ul li {
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 6px;
  margin-top: 5px;
  color: #fff;
  background-color: #62bcfb;
}

.social-icons ul li:hover {
  padding-left: 30px;
  transition: 0.6s;
  width: 80px;
}

.profile-col-1 {
  flex-basis: 37%;
  position: relative;
  margin-left: 150px;
}

.profile-col-2 {
  flex-basis: 60%;
  position: relative;
  display: flex;
  align-items: center;
  width: 1214px;
  height: 778px;
}

.profile-col-1 h1 {
  margin: 50px 0px;
  font-family: var(--Rubik);
}

h1 {
  font-family: var(--Rubik);
}

h5 {
  font-family: var(--Rubik);
}

p {
  font-family: var(--Rubik);
}

.profile-col-1 h5 {
  margin: 50px 0px;
}

.profile-col-1 p {
  margin: 50px 0px;
}

.my-services {
  display: grid;
  grid-template-columns: 315px 315px 315px;
  grid-gap: 100px;
}

.header-buttons {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 10%;
}

.header-buttons a {
  width: 140px;
  height: 40px;
  border: 0;
  padding: 12%, 12%;
  outline: none;
  color: white;
  background: linear-gradient(to right, #8491fe, #62bcfb);
  cursor: pointer;
  border-radius: 3px;
}

.my-footer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 100px;
}

.footer-part {
  position: relative;
  top: 50%;
}

.footer-part .content p {
  text-align: justify;
}
.footer-part .content .social {
  margin: 15px 0 0 0;
}
.footer-part .content .social a {
  padding: 0 2px;
}

.footer-part .content .social a span {
  height: 35px;
  width: 35px;
  background: #62bcfb;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  border-radius: 7px;
}

.address-content {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.address-content .fas {
  font-size: 1rem;
  background: #1a1a1a;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.address-content .fab {
  font-size: 1rem;
  background: #1a1a1a;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.address-content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.single-services {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  margin-top: 60px;
}

footer {
  color: #fff;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 307px;
  bottom: 0px;
  width: 100%;
  background: #04091e;
}

@media only screen and (max-width: 880px) {
  .my-services {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: none;
    grid-gap: 100px;
  }

  footer {
    min-height: 657px;
  }

  .my-footer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: none;
    grid-gap: 51px;
  }

  .profile-col-2 {
    flex-basis: 60%;
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    height: 378px;
  }

  .profile-col-1 img {
    max-width: 100%;
    max-height: 100%;
  }

  .profile-row {
    flex-direction: column-reverse;
    margin: 50px 0;
  }

  .profile-col-2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .profile-col-1 {
    flex-basis: 100%;
    margin-left: 50px;
  }

  .profile-col-0 {
    display: none;
  }

  .profile-col-1 h1 {
    font-size: 20px;
  }
}

.profile-col-1 p {
  font-size: 16px;
  font-weight: 100;
}

.profile-col-1 h5 {
  font-size: 16px;
  font-weight: 50;
}

button {
  width: 140px;
  height: 40px;
  border: 0;
  padding: 12px, 12px;
  outline: none;
  color: white;
  background: linear-gradient(to right, #8491fe, #62bcfb);
  cursor: pointer;
  border-radius: 3px;
}

.profile-col-1 a {
  width: 140px;
  height: 40px;
  border: 0;
  padding: 12px, 12px;
  outline: none;
  color: white;
  background: linear-gradient(to right, #8491fe, #62bcfb);
  cursor: pointer;
  border-radius: 3px;
}

.card-post a {
  width: 140px;
  height: 40px;
  border: 0;
  padding: 12px, 12px;
  outline: none;
  color: white;
  background: linear-gradient(to right, #8491fe, #62bcfb);
  cursor: pointer;
  border-radius: 3px;
}

.service-box .btn {
  width: 140px;
  height: 40px;
  border: 0;
  padding: 12px, 12px;
  outline: none;
  color: white;
  background: linear-gradient(to right, #8491fe, #62bcfb);
  cursor: pointer;
  border-radius: 3px;
}

.card-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}

.container {
  margin-bottom: 2rem;
}

.card-post-img {
  min-width: 15rem;
  max-width: 35rem;
  min-height: 15rem;
  max-height: 35rem;
  transform: translateX(-8rem);
  position: relative;
}

.service-box {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.service-box div {
  margin: 0 auto;
}

.service-box p {
  height: 201px;
}

.my-services .service-box:nth-child(-n + 3) p {
  height: 91px;
}

.service-post-img-box {
  height: 120px;
}

.service-post-img {
  max-width: 7rem;
  min-width: 3rem;
  max-height: 7rem;
  min-height: 3rem;
}

.service-post-img img {
  width: 100%;
  height: 100%;
}

.service-post-title {
  margin: 1rem 0;
  font-weight: 450;
  font-size: 1.5rem;
}

.service-post-text {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.card-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.card-post-date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  margin: 0.1rem 0;
}

.card-post-title {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 2rem;
  color: #62bcfb;
}

.card-post-text {
  margin: 1rem 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 880px) {
  .card-post {
    flex-direction: column;
    padding: 2.5rem;
    border: 1px solid #62bcfb;
  }

  .service-box p {
    height: auto;
  }

  .card-post-img {
    min-width: 40%;
    max-width: 40%;
    min-height: 40%;
    max-height: 40%;
    transform: translate(0, -4rem);
  }
  .card-post-img img {
    border: 1px solid #62bcfb;
  }
}
